:root {
  --pink-400: #e29192;
  --black-900: #1f1414;
  --bg-100: #e1e1e6;
  --bg-100: #f5f3f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* shared */

button.outline,
input[type="submit"].outline {
  padding: 0.75rem 1.75rem;
  border: 1px solid var(--pink-400);
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

button.outline:hover,
button.outline:focus,
input[type="submit"].outline:hover,
input[type="submit"].outline:focus {
  background-color: var(--pink-400);
  color: var(--bg-100);
  transform: scale(1.1);
}

button.outline:active,
input[type="submit"].outline:active {
  transform: scale(1);
}

button.bg-white {
  background-color: #f7f5f4;
}

/* header */

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url(images/evie-s-_8vovuZCj0c-unsplash.jpg);
  background-size: 100vw 265vh;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 4px solid var(--pink-400);
}

header h1,
header b {
  color: var(--black-900);
}

header .title {
  position: absolute;
  left: 350px;
  top: 98px;
  font-size: 3rem;
}

header .hero {
  position: absolute;
  right: 344px;
  /* top: 354px;
  left: 900px; */
  top: 46vh;
  width: 41vw;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.2rem);
  padding: 1rem;
  border-radius: 0.4rem;
}

header .hero h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
}

header .hero p {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: end;
  color: #1a1515;
}

header .hero button {
  margin-top: 24px;
}

/* main content*/

main .content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-100);
}

main .content h1 {
  font-size: 3rem;
  margin: 5rem 0;
  font-weight: lighter;
  color: var(--black-900);
}

.content .split {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .split .column {
  position: relative;
  width: 10rem;
  height: calc(4 * 300px + 3 * 10rem + 2 * 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content .split .column .circle {
  position: relative;
  margin: calc((300px - 70px + 10rem) / 2) 0;
  z-index: 2;
}

.content .split .column .line {
  position: absolute;
  top: calc(150px + 5rem);
  height: calc(100% - (2 * 150px + 10rem));
  width: 10rem;
  z-index: 1;
}

.content .split .left {
  text-align: right;
}
.content .split .left .group {
  align-items: flex-end;
}
.content .split .right {
  text-align: left;
}
.content .split .right .group {
  align-items: flex-start;
}

.content .split img,
.content .split .group {
  width: 500px;
  height: 300px;
  min-width: 250px;
  min-height: 150px;
  margin: 5rem 0;
}

.content .split .group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .split .group h3 {
  font-size: 2.25rem;
}

.content .split .group p {
  font-size: 1.25rem;
}

/* main quotes */

main .quotes {
  width: 100vw;
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.quotes h2 {
  color: var(--pink-400);
  font-size: 1.25rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.quotes .quote-xxl {
  fill: var(--black-900);
  transform: scale(0.8);
}

.quotes blockquote {
  margin-top: 2.5rem;
  text-align: center;
  width: calc(2 * 500px + 10rem);
  line-height: 125%;
  font-size: 1.25rem;
}

.quotes .user {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
}

/* main form */

main .form {
  background-color: var(--bg-100);
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.form form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
}

.form form h1 {
  grid-column: span 2;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 3rem;
}

.form form .input {
  display: flex;
  flex-direction: column;
  width: calc(35vw - 4.5rem);
}

.form form .input.r-align {
  margin-left: auto;
  margin-right: 2.25rem;
}
.form form .input.l-align {
  margin-right: auto;
  margin-left: 2.25rem;
}

.form form .textarea {
  margin: auto;
  margin-top: 1rem;
  grid-column: span 2;
}

.form form input[type="submit"] {
  margin: auto;
  margin-top: 2.5rem;
  grid-column: span 2;
  width: 12rem;
}

.form form label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.form form input,
.form form textarea,
.form form select {
  font-size: 1.25rem;
  padding: 0.25rem;
}

.form form .textarea textarea {
  width: calc((2 * 35vw) - 4.5rem);
  resize: vertical;
}

/* footer */

footer {
  padding: 0 15vw;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: repeat(2, auto);
}

footer .top {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0 0.25rem 0;
  border-bottom: 1px solid var(--black-900);
}

footer .top h3 {
  font-weight: bold;
  font-size: 1.25rem;
}

footer .top div {
  display: flex;
  flex-direction: row;
}

footer .top div p {
  padding: 0 0.75rem;
  cursor: pointer;
  color: var(--black-900);
}

footer .top div p:hover {
  color: var(--pink-400);
}

footer .bottom {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  padding: 0 2rem;
}

footer .bottom h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

footer .bottom p,
footer .bottom a {
  font-size: 1.125rem;
}

footer .bottom:nth-child(3) p:last-of-type {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}

footer .bottom:nth-child(2) {
  width: 80%;
}
